<h1 class="mb-4 text-xl underline underline-offset-4">Product Component</h1>

<div class="mb-4">
  <p-button
    type="button"
    icon="pi pi-chevron-left"
    (click)="first = first - rows"
    [disabled]="inventories().data ? first === 0 : true"
    text
  />
  <p-button type="button" icon="pi pi-refresh" (click)="first = 0" text />
  <p-button
    type="button"
    icon="pi pi-chevron-right"
    (click)="first = first + rows"
    [disabled]="
      inventories().data
        ? first + rows >= (inventories().data?.length || 0)
        : true
    "
    text
  />
</div>

<div class="card">
  <p-table
    [loading]="inventories().state === state.LOADING"
    [value]="inventories().data || []"
    [paginator]="true"
    [rows]="rows"
    [first]="first"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    (onPage)="first = $event.first; rows = $event.rows"
    [rowsPerPageOptions]="[5, 10, 15]"
  >
    <ng-template #header>
      <tr>
        @for (h of thead; track h) {
          <th style="width: 25%">{{ h }}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-model>
      <tr>
        <td>{{ model.name }}</td>
        <td>{{ model.qty }}</td>
      </tr>
    </ng-template>
    <ng-template #paginatorleft>
      <p-button
        type="button"
        icon="pi pi-plus"
        text
        (click)="toggleNewProduct = !toggleNewProduct"
      />
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="New Product"
  [modal]="true"
  [(visible)]="toggleNewProduct"
  [style]="{ width: '40rem' }"
>
  @defer (when toggleNewProduct) {
    <app-new-inventory
      [loading]="createState().state"
      [(visible)]="toggleNewProduct"
      (emitter)="create.next($event)"
    />
  }
</p-dialog>
